# Libs Python
pandas
matplotlib
seaborn
jupyter
scikit-learn
scipy
numpy
statsmodels
joblib
wordcloud
Pillow

# Libs for spark
pyspark

# Libs for GCP
google-cloud
google-cloud-bigquery[pandas]
google-cloud-storage
